# Consensus Opinion Analysis

In [1]:
import pandas as pd
import numpy as np
import datetime
import sqlite3
from jupyterthemes import jtplot
jtplot.style('grade3')

In [2]:
con=sqlite3.connect('C:\\Users\\wnsvy\\PycharmProjects\\Crawling_Practice\\consensus.db')
cursor=con.cursor()

In [3]:
# DB 데이터의 최근일 확인
sql_state = "SELECT * FROM " + "business" +" ORDER BY dt DESC LIMIT 1"
df = pd.read_sql(sql_state, con, index_col='dt')
recent_date = df.index[0]
recent_date = datetime.datetime.strptime(recent_date, '%Y-%m-%d')
recent_date

datetime.datetime(2018, 10, 25, 0, 0)

In [4]:
# 테스트용
recent_date = '2018-06-27'
recent_date = datetime.datetime.strptime(recent_date, '%Y-%m-%d')
recent_date

datetime.datetime(2018, 6, 27, 0, 0)

In [5]:
# 기간 1년 default
time_period = datetime.timedelta(days=1000)
time_period

datetime.timedelta(1000)

In [6]:
start_date = recent_date - time_period
start_date

datetime.datetime(2015, 10, 1, 0, 0)

In [7]:
datetime.datetime.strftime(start_date, '%Y-%m-%d')

'2015-10-01'

### 범위에 맞는 Data Slicing

#### SQL SELECT ... WHERE Query 사용

In [8]:
sql_state = "SELECT * FROM " + "stock_good_price" +" WHERE dt > " + "'" + datetime.datetime.strftime(start_date, '%Y-%m-%d') + "'"
print(sql_state)
up_price = pd.read_sql(sql_state, con, index_col='dt')
up_price.index = pd.Series(up_price.index).apply(lambda x : datetime.datetime.strptime(x, '%Y-%m-%d'))
up_price = up_price[up_price.index <= recent_date]

SELECT * FROM stock_good_price WHERE dt > '2015-10-01'

In [10]:
sql_state = "SELECT * FROM " + "stock_bad_price" +" WHERE dt > " + "'" + datetime.datetime.strftime(start_date, '%Y-%m-%d') + "'"
print(sql_state)
down_price = pd.read_sql(sql_state, con, index_col='dt')
down_price.index = pd.Series(down_price.index).apply(lambda x : datetime.datetime.strptime(x, '%Y-%m-%d'))
down_price = down_price[down_price.index <= recent_date]
down_price.head()

SELECT * FROM stock_bad_price WHERE dt > '2015-10-01'

,title,writer,issued_by,current,prev,code,company
dt,,,,,,,
2015-10-02,"대우인터내셔널(047050) 대우인터내셔널(047050) - 3분기 실적전망 하향,...","전용기,김다은",현대증권,28000,38000,A047050,대우인터내셔널
2015-10-02,원익IPS(030530) 원익IPS(030530) 동사 향후 실적의 개선은 당초 올...,송명섭,하이투자증권,12000,16600,A030530,원익IPS
2015-10-02,"대우인터내셔널(047050) 대우인터내셔널(047050) - 3분기 영업이익은 1,...",허민호,신한금융투자,26000,32000,A047050,대우인터내셔널
2015-10-02,한국항공우주(047810) 한국항공우주(047810) 단기로는 KFX 본계약 체결 ...,한영수,삼성증권,90000,105000,A047810,한국항공우주
2015-10-02,"OCI머티리얼즈(036490) OCI머티리얼즈(036490) 투자의견 BUY 유지,...",도현우,미래에셋증권,130000,150000,A036490,OCI머티리얼즈

### 해당 종목 코드에 해당하는 data slicing

In [11]:
# code = '067160' # 아프리카TV
# code = '000660' # SK Hynix
# code = '051910' # LG Chem
code = '035900' # JYP
# code= '207940' # 삼성바이오로직스
# code = '011170' # 롯데 케미칼

In [12]:
selected_down_data = down_price[down_price['code']=='A' + code]

In [13]:
selected_up_data = up_price[up_price['code']=='A' + code]
selected_up_data

,title,writer,issued_by,current,prev,code,company
dt,,,,,,,
2017-05-16,JYP Ent.(035900)여전히 가장 저평가된 기획사 JYP Ent.(03590...,이기훈,하나대투증권,12000,10000,A035900,JYP Ent.
2017-07-03,JYP Ent.(035900)트와이스는 빠르면 2년 내 일본 돔 투어가 가능 JYP...,이기훈,하나대투증권,13000,12000,A035900,JYP Ent.
2017-09-12,JYP Ent.(035900)10월 신고가를 기대하는 3가지 모멘텀 JYP Ent....,이기훈,하나대투증권,14000,13000,A035900,JYP Ent.
2017-10-23,JYP Ent.(035900)아직도 가장 저평가된 기획사 JYP Ent.(03590...,이기훈,하나금융투자,15500,14000,A035900,JYP Ent.
2017-11-23,JYP Ent.(035900)2018년 남자 아이돌 3팀 데뷔 JYP Ent.(03...,이기훈,하나금융투자,17000,15500,A035900,JYP Ent.
2018-01-17,JYP Ent.(035900)스트레이 키즈는 제2의 BTS가 될 수 있다 JYP E...,이기훈,하나금융투자,25000,17000,A035900,JYP Ent.
2018-04-13,JYP Ent.(035900)2020년 목표 시가총액 1.6조원 이상 JYP Ent...,이기훈,하나금융투자,30000,25000,A035900,JYP Ent.
2018-05-16,JYP Ent.(035900)비수기부터 믿기 힘든 실적 서프라이즈 JYP Ent.(...,이기훈,하나금융투자,34000,30000,A035900,JYP Ent.

In [334]:
security_comp = list(set(selected_up_data['issued_by']))
security_comp

['하나대투증권', '하나금융투자']

In [335]:
st_data = selected_up_data[selected_up_data['issued_by']==security_comp[0]]
st_data

,title,writer,issued_by,current,prev,code,company
dt,,,,,,,
2017-05-16,JYP Ent.(035900)여전히 가장 저평가된 기획사 JYP Ent.(03590...,이기훈,하나대투증권,12000,10000,A035900,JYP Ent.
2017-07-03,JYP Ent.(035900)트와이스는 빠르면 2년 내 일본 돔 투어가 가능 JYP...,이기훈,하나대투증권,13000,12000,A035900,JYP Ent.
2017-09-12,JYP Ent.(035900)10월 신고가를 기대하는 3가지 모멘텀 JYP Ent....,이기훈,하나대투증권,14000,13000,A035900,JYP Ent.

#### 증권사(애널리스트)별 목표가 도달 여부 확인 해서 정확도, 평균 기간 Plot 하기

#### Bar Chart 사용

### 주가 Data 받아오기

In [15]:
from antQuant.utils import DataManager

In [16]:
dm = DataManager()
df = dm.get_adj_daily_ohlcv(code)

In [17]:
price = df[df.index > start_date]

In [18]:
price = price['close']
idx = price.index

In [19]:
price.tail()

date
2018-06-21    26200.0
2018-06-22    25850.0
2018-06-25    25300.0
2018-06-26    25500.0
2018-06-27    25250.0
Name: close, dtype: float64

### 상향에 대한 정확도 측정

도달 비교 대상을 high 로 잡을까 close 로 잡을까

### 1. Opinion 간격만 고려한 도달률 계산

In [347]:
for i in security_comp:
    st_data = selected_up_data[selected_up_data['issued_by']==i]
    print(i)
    false_count = 0
    true_count = 0
    avg_period = 0
    if len(st_data) == 1 :
        j = 0
    for j in range(len(st_data)-1):
        # print(st_data.index[j], st_data.index[j+1], st_data.iloc[j]['current'])
        approach_true = price[st_data.index[j]:st_data.index[j+1]].where(price>st_data.iloc[j]['current']).dropna()
        
        if len(approach_true) == 0: # 도달 실패
            false_count += 1
        elif len(approach_true) > 0: # 도달 성공
            true_count += 1
            dt = approach_true.index[0] - st_data.index[j]
            avg_period += dt.days
        # print(approach_true)
        # 기간 st_data.index[j] ~ st_data.index[j+1]
    # j 마지막 줄 코드 작성 -> iloc[len(st_data)-1]
    if len(st_data) != 1 :
        j += 1
    approach_true = price[st_data.index[j]:recent_date].where(price>st_data.iloc[j]['current']).dropna()
    #print(st_data.index[j], recent_date, st_data.iloc[j]['current'])
    if len(approach_true) == 0: # 도달 실패
            false_count += 1
    elif len(approach_true) > 0: # 도달 성공
        true_count += 1
        dt = approach_true.index[0] - st_data.index[j]
        avg_period += dt.days
    print('예측성공 / 예측실패 : ',true_count,'/',false_count)
    print('도달 성공률 : ', true_count/(true_count + false_count) * 100 , '%')
    if true_count != 0:
        avg_period = avg_period / true_count
        print('평균 도달 기간 : ', avg_period,'일')

하나대투증권
예측성공 / 예측실패 :  1 / 2
도달 성공률 :  33.33333333333333 %
평균 도달 기간 :  98.0 일
하나금융투자
예측성공 / 예측실패 :  0 / 5
도달 성공률 :  0.0 %

### 2. 전체기간동안을 고려한 도달률 계산

In [348]:
for i in security_comp:
    st_data = selected_up_data[selected_up_data['issued_by']==i]
    print(i)
    false_count = 0
    true_count = 0
    avg_period = 0
    for j in range(len(st_data)):
        approach_true = price[st_data.index[j]:recent_date].where(price>st_data.iloc[j]['current']).dropna()
        
        if len(approach_true) == 0: # 도달 실패
            false_count += 1
        elif len(approach_true) > 0: # 도달 성공
            true_count += 1
            dt = approach_true.index[0] - st_data.index[j]
            avg_period += dt.days
    
    print('예측성공 | 예측실패 : ',true_count,'|',false_count)
    print('도달 성공률 : ', true_count/(true_count + false_count) * 100, '%')
    if true_count != 0:
        avg_period = avg_period / true_count
        print('평균 도달 기간 : ', avg_period,'일')

하나대투증권
예측성공 | 예측실패 :  3 | 0
도달 성공률 :  100.0 %
평균 도달 기간 :  141.66666666666666 일
하나금융투자
예측성공 | 예측실패 :  3 | 2
도달 성공률 :  60.0 %
평균 도달 기간 :  104.0 일

## 분석 결과

> * 여러 종목을 통해 증권사별 목표가 도달여부와 기간을 분석한 결과 목표치에 도달했을 때 상향/하향 조정을 하기 보다는 추세가 근접 하였을 때 미리 목표가를 수정하는 빈도가 많이 발견되었다.(1과 2의 도달 성공률 비교) <br>
> * 2의 분석에서 예측이 성공하였을 때 평균도달 기간을 구함으로써 증권사별 평균 도달 기간을 계산 할 수 있었다.

시각화 자료 업데이트 하기